<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fafd85ff22d11e7333526eb7b8c85d31.sns_list_demo">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
